.section {
  height: 40vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .divArticles {
    font-family: inter;
    display: flex;
    height: 21vh;
    width: 90vw;
    gap: 13px;

    article {
      display: flex;
      flex-direction: column;
      width: 380px;
      height: 20vh;
      text-align: center;
      justify-content: space-between;
      border: solid 0.91px #000000;
      border-radius: 14px;
      padding: 0.7rem 0.9rem;
      background-color: #ffffff;

      h3 {
        color: black;
        font-size: 28px;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        font-style: regular;
      }
    }
  }
}

.sectionForm {
  height: 117vh;
  background-color: #00745a;
  display: flex;
  justify-content: center;
  padding: 3.6rem 0.3rem;
  font-family: inter;

  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70vw;
    height: 93vh;
    border: solid 0.91px black;
    border-radius: 14px;
    background-color: #ffffff;
    padding: 1rem 1rem;
    h5 {
      font-weight: 700;
      font-style: Bold;
      font-size: 24px;
      line-height: 32px;
    }
    h6 {
      font-weight: 700;
      font-style: Bold;
      font-size: 18px;
      line-height: 28px;
    }
    p {
      font-weight: 400;
      font-style: Regular;
      font-size: 20px;

      line-height: 20px;

      text-align: center;
      vertical-align: middle;
    }
    .nomeEmail {
      display: flex;
      justify-content: space-between;
      .nome,
      .email {
        width: 49%;
        height: 45px;
        border-radius: 10px;
        background-color: #f8f8f8;
        border: solid 0.91px #000000;
      }
    }

    .tel {
      width: 100%;
      height: 45px;
      border-radius: 10px;
      background-color: #f8f8f8;
      border: solid 0.91px #000000;
    }
    .textArea {
      width: 100%;
      height: 28vh;
      border-radius: 10px;
      background-color: #f8f8f8;
      border: solid 0.91px #000000;
    }
  }
  .final {
    height: 20vh;
    padding: 0.9rem 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    button {
      height: 62px;
      width: 210px;
      border-radius: 11px;
      color: #ffffff;
      background-color: #00745a;
      font-size: 19px;
      font-weight: 400;
      font-style: regular;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
