@media (min-width: 500px) and (max-width: 1300px) {
  .menu {
    display: none;
  }
}

@media (min-width: 200px) and (max-width: 500px) {
  .menu {
    width: 30px;
    height: 30px;

    border: solid 1px #02634c;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    // cursor: pointer;

    p {
      letter-spacing: 0%;
      height: 3px;
      width: 20px;
      background-color: black;
      font-family: inter;
      font-weight: 900;
    }

    .nav {
      margin-right: 50px;
      width: 80px;
      height: 60px;
      border: solid 1px #02634c;
      border-radius: 14px;
      background-color: antiquewhite;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.3rem;

      a {
        font-size: 10px;
        color: aliceblue;
        width: 99%;
        padding: 0rem, 0rem;
        background-color: aqua;
        color: black;
      }
    }
  }

  .menu_out {
    background-color: #02634c;
    color: aliceblue;
  }
}
